.display__f-s {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 60rem) {
       flex-direction: row;
    }
}

.img-inter {
    padding: 5%;
}

.logo {
    padding-top: 80px;
    img {
        width: 30%;
        height: auto;
    }
    @media (min-width: 60rem) {
        width: 65%;
        height: auto;
     }
}

.section__colum {
    @media (min-width: 60rem) {
        width: 50%;
     }
}

.section__colum--sticky {
    @media (min-width: 60rem) {
        padding-top: 10rem;
        display:inline-block;
        position: sticky;
        top: 0rem;
     }

}

.section__colum--border-top {
  margin-top: 80px;
  border-radius: 50% 50% 0 0 ;
  @media (min-width: 60rem) {
    margin-top: 150px;
 }
}

.section__colum--border-bottom {
    margin-bottom: 200px;
    border-radius:0% ;
    @media (min-width: 60rem) {
        border-radius:30% 0% 0% 0%  ;
     }
  }

.section__relle {
    @media (min-width: 60rem) {
        width: 150px;
        height: 150px;
     }
}

  .section__content {
    img {
        height: auto;
        width: 80%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.wrapper__inter {
    padding: 5%;
}

.bg-img-museo {
    background-image: url(./../../img/museo-nacional-grabacion.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-teatro {
    background-image: url(./../../img/teatro-nacional-grabaciones.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-pop-pink {
    background-image: url(./../../img/art-pop-pink.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-pop-blue {
    background-image: url(./../../img/art-pop-blue.svg);
    background-size: cover;
    background-repeat: no-repeat;
}