.display__f-s {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 60rem) {
       flex-direction: row;
    }
}

.logo {
    padding-top: 80px;
    img {
        width: 30%;
        height: auto;
    }
    @media (min-width: 60rem) {
        width: 65%;
        height: auto;
     }
}

.section__colum {
    @media (min-width: 60rem) {
        width: 50%;
     }
}

.section__colum--sticky {
    @media (min-width: 60rem) {
        position: sticky;
        top: 5rem;
     }

}

.section__colum--border-top {
  margin-top: 80px;
  border-radius: 50% 50% 0 0 ;
  @media (min-width: 60rem) {
    margin-top: 150px;
 }
}

.section__colum--border-bottom {
    margin-bottom: 150px;
    border-radius:0 0 50% 50%  ;
  }

.section__relle {
    @media (min-width: 60rem) {
        width: 150px;
        height: 150px;
     }
}

  .section__content {
    img {
        height: auto;
        width: 80%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.wrapper__inter {
    padding: 3%;
}

.bg-img-museo {
    background-image: url(./../../img/museo-nacional-grabacion.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

